<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{title}}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/forms-nr-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/buttons-min.css">
  <link rel="stylesheet" href="https://unpkg.com/react-responsive-carousel@3.1.28/lib/styles/carousel.min.css">
  {{{reactStyles}}}
</head>
<body>
	<div id="react-root">{{{reactRoot}}}</div>
	<script>window.__data = {{{reactData}}}</script>
  <script src="//localhost:8081/{{clientScript}}"></script>
</body>
</html>
